#bg{background: #09b1b0;}
#bg>header,#logout,
#bg>section,#bg>section>.left,#bg>section>.right{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#bg>header{
    background: url(../images/header-bg.png) no-repeat 0 0;
    width: 100%;
    height: 101px;
    background-size: 100% 100%;
}
#bg>header>.left,#bg>header>.right{color: rgb(255, 255, 255);line-height: 101px;}
#bg>header>.left{
    font-size: 32px;
    font-weight: bold;
    height: 100px;
    padding-left: 28px;
}
#bg>header>.right{padding-right: 26px;}
#bg>header>.right>span{
    margin-right: 50px;padding-left: 34px;padding-top: 6px;
}
#bg>header>.right>span:first-of-type{
    background: url(../images/feedback.png) no-repeat;
}
#bg>header>.right>span:last-of-type{
    background: url(../images/password.png) no-repeat;
    background-size: 25px 25px;
}
#bg>header>.right>span,#logout{font-size: 18px;}
#logout{
    background: url(../images/logout.png);
    color: rgb(255, 255, 255);
    width: 71px;height: 34px;
}
#bg>section{
    padding: 11px;
    height: calc(100% - 101px);
}
#bg>section>.left,#bg>section>.right{
    background:rgb(255, 255, 255);
    border: 2px solid #038281;
    height: 100%;
}
#bg>section>aside{width: 232px;}
/* 宽度响应式布局 */
@media screen and (max-width:1920px) {    /*1920 * 1080*/
    #bg{width: 1920px;}
    #bg>section>.right{width: 1652px;}
}
@media screen and (max-width:1600px) {    /*1600 * 900*/
    #bg{width: 1600px;}
    #bg>section>.right{width: 1335px;}
}
@media screen and (max-width:1540px) {    /*1920 * 1080*/
    #bg{width: 1540px;}
    #bg>section>.right{width: 1275px;}
}
@media screen and (max-width:1440px) {    /*1440 * 900*/
    #bg{width: 1440px;}
    #bg>section>.right{width: 1175px;}
}
@media screen and (max-width:1336px) {    /*1366 * 768*/
    #bg{width: 1336px;}
    #bg>section>.right{width: 1071px;}
}
@media screen and (max-width:1024px) {    /*1024 * 600*/
    #bg{width: 1024px;}
    #bg>section>.right{width: 759px;}
}