header{background: url(../images/header-bg.png);width: 1920px;height: 101px;}
header>.left{
    font-size: 32px;
    font-weight: bold;
    height: 100px;
    padding-left: 28px;
    color: rgb(255, 255, 255);
    line-height: 101px;
}
header>.right{padding-right: 26px;}
#bg{background: #09b1b0;}
#bg>.left{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #038281;
    height: 100%;
    margin: 11px 0 30px 11px;
}
#bg>.left{
    width: 232px;
    height: 915px;
}
iframe{width:100%;height:100%;background:rgb(255, 255, 255)}
#clock {
    background: yellow;
}
#banner{
    background: lightblue;
    width: 100%;
    height: 100px;
}