.search,table,th,td,.btn,
.checkbox,.checkbox>.checkbox-title,.checkbox>.checkbox-body,
.table-checkbox tr>td:first-of-type>.option,
.page>*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
input,button{border: none;outline: none;-webkit-appearance: none;}
.add,.subtract{display: inline-block;padding-left: 19px;height: 19px}
/*添加图标样式*/
.add{background: url(../images/add.png) no-repeat center left;}
/*减少图标样式*/
.subtract{background: url(../images/subtract.png) no-repeat center left;}
/*容器样式*/
.container{padding:18px 22px 0 16px;}
.tiny-container{display: inline-block;height: 19px;padding: 0 18px;line-height: 19px;}
/*面包屑样式*/
#crumbs{
    color: #242424;
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    background: #eef8ff;
    display: block;
    padding-left:16px;
}

#crumbs>a,#crumbs>em{font-size: 14px;display: inline-block;padding-left: 12px;}
#crumbs>a:hover{text-decoration: none;color: #01afae;}
#crumbs>em{color: #999999;}
/*标签样式*/
.tab{
    display: inline-block;
    height: 40px;
    padding: 0 18px;
    background: #f1f1f1;
    color: #333333;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    margin-right: 18px;
}
.tab-chosen{color: #ffffff;background: #02bfbe;}    /*选中样式*/
/*搜索框样式*/
.search{
    display: inline-block;
    width: 382px;
    height: 42px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    padding-left: 42px;
    background: url(../images/search.png) no-repeat 10px center;
}
.search>input[type=text]{height: 100%;width: 270px;font-size: 16px;vertical-align: middle;}
.search>input[type=button],.search>button{
    height: 100%;
    width: 68px;
    background: #ff6c43;
    color: #ffffff;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
}
/*按钮样式*/
.btn{
    display: inline-block;
    border-radius: 5px;
    height: 27px;
    font-size: 14px;
    color: #333333;
    line-height: 27px;
    padding: 0 10px;
}
.btn-cancel{border:1px solid #b2b2b2;background: #ffffff;}    /*取消按钮样式*/
.btn-confirm{background: #09b1b0;color: #ffffff}    /*确认按钮样式*/
/*大型号确认按钮*/
.btn-larger-confirm{
    padding: 10px 82px;
    font-size: 20px;
    color: #ffffff;
    background: #09b1b0;
    height: auto;
}
/*标签按钮*/
.tab-btn{
    display: inline-block;
    height: 42px;
    padding: 0 18px;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    background: #02bfbe;
}
/*浮层弹框背景样式*/
.alert-bg{
    background: rgba(153,153,153,0.5);
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
}
/*多选弹框样式*/
.checkbox{
    width: 409px;
    background: #ffffff;
    border-radius: 5px;
    padding:0 10px 32px;
}
.checkbox>.checkbox-title{
    position: relative;
    height: 62px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 20px;
    color: #333333;
    vertical-align: middle;
    line-height:62px;
    text-align: center;
}
.checkbox>.checkbox-title>.checkbox-cancel{
    display: inline-block;
    height: 100%;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/checkbox-cancel.png) no-repeat center;
}
.checkbox>.checkbox-body{
    width: 100%;
    padding: 33px 36px 0;
    text-align: center;
}
.checkbox>.checkbox-body>input[type=button],.checkbox>.checkbox-body>button{
    margin-top: 20px;
}
/*未选中效果*/
.checkbox>.checkbox-body>.checkbox-option{
    line-height: 19px;
    font-size: 16px;
    padding-left: 28px;
    text-align: left;
    margin-bottom: 22px;
    background: url(../images/checkbox.png) no-repeat center left;
}
/*已选中效果*/
.checkbox>.checkbox-body>.checked{background: url(../images/checked.png) no-repeat center left;}

/*普通表格样式*/
.table-normal,.table-checkbox{
    border:1px solid #b2b2b2;
    width: 100%;
}
.table-normal th,.table-normal td{border: 1px solid #b2b2b2;}
.table-normal th{
    text-align: left;
    height: 38px;
    font-size: 16px;
    padding-left: 12px;
    background: #eef8ff;
    font-weight:normal;
}
.red{color: red;}
.table-normal td{
    text-align: left;
    padding-left: 12px;
    font-size: 14px;
    height: 50px;
}
/*无td边框线的表格*/
.table-checkbox{
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    padding:0 100px 0 24px;
}
.table-checkbox th{
    border-bottom: 1px solid #b2b2b2;
    font-weight: normal;
    padding: 10px 0;
    background: #eef8ff;
}
.table-checkbox td{
    padding: 21px 0;
}
.table-checkbox td img{
    width: 60px;
    height: 60px;
}
.table-checkbox tr>td:first-of-type>.option{
    display: inline-block;
    height: 100%;
    padding-left: 38px;
    background: url(../images/checkbox.png) no-repeat center left;
}
.table-checkbox tr>td:first-of-type>.checked{
    background: url(../images/checked.png) no-repeat center left;
}
/*分页样式效果*/
.page{
    height: 30px;
    width: 100%;
    text-align: center;
}
.page>*{
    display: inline-block;
    border:1px solid #e0e0e0;
    background: #f5f5f5;
    height: 30px;
    padding: 0 12px;
    line-height: 30px;
    margin-right: 3px;
}
.page>.chosen{
    border: 0;
    background: 0;
    color: red;
}
