<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/init.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body id="bg">
    <header class="clearfix">
        <div class="left">诗奈尔商家管理系统</div>
        <div class="right">
            <span>意见反馈</span>
            <span>修改密码</span>
            <input type="button" value="退出" id="logout">
        </div>
    </header>
    <section class="clearfix">
        <!--左侧导航-->
        <aside class="left">
            <!--顶部展示区域-->
            <div>
                <header></header>
                <div id="merchant">诗奈尔上海总部</div>
                <div>
                    正在营业&emsp;<img src="../images/open.png" id="switch">
                </div>
            </div>
            <!--底部导航栏-->
            <dl>
                <dt class="clearfix" id="order">
                    <div class="left">线上订单</div>
                    <div class="right shrink"></div>
                </dt>
                <dd>
                    <nav>订单查询<em>15</em></nav>
                    <nav>订单处理<em>15</em></nav>
                </dd>
                <dt class="clearfix" id="finance">
                    <div class="left">线下收银</div>
                    <div class="right spread"></div>
                </dt>
                <dd>
                    <nav>收衣</nav>
                    <nav>送洗</nav>
                    <nav>上挂</nav>
                    <nav>取衣</nav>
                    <nav>会员管理</nav>
                    <nav>业务统计</nav>
                </dd>
                <dt class="clearfix" id="manage">
                    <div class="left">商家管理</div>
                    <div class="right spread"></div>
                </dt>
                <dd>
                    <nav>商品管理</nav>
                    <nav>财务对账</nav>
                    <nav>经营分析</nav>
                    <nav>员工管理</nav>
                    <nav class="chosen-nav">返现记录</nav>
                    <nav>消息通知</nav>
                    <nav>用户评价</nav>
                    <nav>门店信息</nav>
                </dd>
            </dl>
        </aside>
        <iframe src="./index/index.html" frameborder="0" class="right"></iframe>
    </section>
    <script src="../scripts/core.js"></script>
    <script src="../scripts/main.js"></script>
</body>
</html>