<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/init.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/button.css">
</head>
<body>
    <header class="clearfix">
        <div class="left">诗奈尔商家管理系统</div>
        <div class="right"></div>
    </header>
    <div id="banner">dffdfd</div>
    <h1 id="clock">ddsdsdsds</h1>
    <h1 id="l"></h1>
    <input type="button" value="打开" class="btn btn-blue" id="open">&emsp;
    <input type="button" value="关闭" class="btn btn-blue" id="close">&emsp;
    <input type="button" value="退出" class="btn btn-blue" id="exit">&emsp;
    <input type="button" value="切换" class="btn btn-blue" id="change">
    <iframe src="./index/index.html" frameborder="0" style="width:100%;height:200px;" id="iframe"></iframe>
    <script src="../scripts/core.js"></script>
    <script src="../scripts/button.js"></script>
    <script src="../scripts/main.js"></script>
</body>
</html>