<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/init.css">
    <link rel="stylesheet" href="../../css/UI.css">
</head>
<body>
<nav id="crumbs"></nav>
<section class="container clearfix">
    <div class="left flex-left">已选择 :</div>
    <div class="left flex-center" id="chosen">
        <!--<div class="flex-center-item">有羽绒服内胆<em class="delete"></em></div>-->
    </div>
    <div class="right flex-right"><input type="button" value="确认" class="tab-btn" id="submit"></div>
</section>
<script src="../../scripts/api.js"></script>
<script src="../../scripts/core.js"></script>
<script src="../../scripts/UI.js"></script>
<script src="../../scripts/order/color.js"></script>
</body>
</html>